<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<h1>Hi <%= @user.first_name %> ! </h1>
<p>Edit your profile </p>

<%= render 'form' %>

<%= link_to "return to the list", "/users" %>
