  <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href="www.youtube.com"><i class="fa fa-youtube fa-cog"></i></a></li>
              <li><a href="www.instagram.com"><i class="fa fa-instagram fa-cog"></i></a></li>
              <li><a href="www.facebook.com"><i class="fa fa-facebook fa-cog"></i></a></li>
              <li><a href="www.twitter.com"><i class="fa fa-twitter fa-cog"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-8 text-right">
            <p> © Cozycowork SAS </p>
          </div>
        </div>
      </div>
    </div>



